*.pyc
data/
last_run
/bin/
/lib/
/lib64
/env/
!default-config.yml
*-config.yml
/static/bulma/
/.vscode/
.python-version

# emacs files
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
