<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock %} - Baalorlord's website</title>
        {% endblock %}
    </head>
    <body style="background-color:grey">
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer">
            {% block footer %}
            <a href="{{ github }}">View the source code</a><br>
            <a href="{{ github }}/issues">Report an issue</a><br>
            <a href="mailto:{{ config.email }}">Business enquiries</a>
            {% endblock %}
        </div>
    </body>
</html>
