{% extends "base.jinja2" %}

{% block title %}
  {{ prefix }}{{ name }}
{% endblock %}

{% block content %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li>
        <a href="/commands">All commands</a>
      </li>
      <li class="is-active">
        <a href="/commands/{{ name }}" aria-current="page">
          {{ prefix }}{{ name }}
        </a>
      </li>
    </ul>
  </nav>

  <section class="section">
    <div class="container command-title">
      <h1 class="title">
        <span class="name">
          {{ prefix }}{{ name }}
          {% if aliases %}
            <span class="aliases">
              (alias
              {% for alias in aliases %}{{ prefix }}{{ alias }}{% if not loop.last %}, {% endif %}{% endfor %})
            </span>
          {% endif %}
        </span>

        {% if enabled %}
          <i title="Enabled" class="fa-solid fa-circle-check"></i>
        {% else %}
          <i title="Disabled" class="fa-solid fa-circle-xmark has-text-danger"></i>
        {% endif %}

        {% if permissions != "Everyone" %}
          <i title="Requires permissions: {{ permissions }}" class="fa-solid fa-user-lock"></i>
        {% endif %}

        {% if discord %}
          <i title="Available from Discord" class="fa-brands fa-discord"></i>
        {% endif %}

        {% if twitch %}
          <i title="Available from Twitch" class="fa-brands fa-twitch"></i>
        {% endif %}
      </h1>
      {% if builtin %}
        <p>Computed command. Message is computed when the command is executed.</p>
      {% else %}
        <p>Static command. Always shows the same message.</p>
      {% endif %}
    </div>
  </section>

  <section class="section">
    {% if builtin %}
      <article class="message">
        <div class="message-header">
          <p>Action performed</p>
        </div>
        <div class="message-body">
          {{ fndoc }}
        </div>
      </article>
    {% else %}
      <article class="message">
        <div class="message-header">
          <p>Message</p>
        </div>
        <div class="message-body">
          {{ output|safe }}
        </div>
      </article>
    {% endif %}
  </section>
{% endblock %}
