{% extends "base.jinja2" %}
{% block title %}
{{ name }}
{% endblock %}
{% block content %}
    <h1>Command: {{ name }}</h1>
    <p>
    {% if builtin %}
        This is a built-in command. It does calculations when it is called. This is what it does:
        <br>
        {{ fndoc }}
    {% else %}
        Output: {{ output|safe }}
    {% endif %}
    <br>
    Enabled: {{ enabled }}
    <br>
    {% if aliases %}
    Aliases: {{ aliases }}
    <br>
    {% endif %}
    Permission: {{ permissions }}
    <br>
    Usable on Twitch: {{ twitch }}
    <br>
    Usable on Discord: {{ discord }}
{% endblock %}
{% block footer %}
<a href="/commands">Back to all commands</a><br>
{% endblock %}