{% extends "base.jinja2" %}

{% block title %}
  Hi!
{% endblock %}

{% block content %}
  <section class="section">
    <div class="columns">
      <div class="column is-half">
        <section class="hero">
          <div class="hero-body">
            <p class="title is-1">
              Hi, I'm Baalor!
            </p>
            <p class="subtitle">
              I play video games and tell dad jokes.
            </p>
          </div>
        </section>

        <p class="title">Who am I?</p>
        <div class="block">
          I am a streamer that plays games five times a week. I play many
          games, the chief among them being
          <a href="https://store.steampowered.com/app/646570/Slay_the_Spire/" target="_blank">Slay The Spire</a>.
        </div>

        <p class="title">When do I play?</p>
        <p class="block">
          Tuesday to Saturday starting at 12pm EST, with 30+ hours of live
          content every week! See the <b>#schedule</b> channel
          on <a href="/discord">the Discord server</a> for updated weekly schedules.
        </p>

        <p class="title">What's going on?</p>
        <p class="block">
          We're currently enjoying <b>Speedtember</b>, where I'm attempting to
          do faster runs - aiming for less than an hour, around 45 minutes per
          run.
        </p>
        <p class="block">
          For 2022, I'm <a href="/400">doing a challenge to kill 400
          hearts</a>, and we're picking up the pace to see if I can remain
          consistent even at a higher pace.
        </p>
      </div>

      <div class="column">
        <section class="section">
          <div class="container">
            <h1 class="title">Latest YouTube video</h1>
            <iframe
              src="https://www.youtube.com/embed/{{ video_id }}"
              title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen></iframe>
          </div>
        </section>

        <section class="section">
          <div class="container">
            <h1 class="title">Live on Twitch</h1>
            <script src= "https://player.twitch.tv/js/embed/v1.js"></script>
            <div id="twitch_frame"></div>
            <script type="text/javascript">
             var options = {
               /* width: 560,
                * height: 315, */
               channel: "{{ config.twitch.channel }}"
             };
             var player = new Twitch.Player("twitch_frame", options);
             player.setVolume(0.5);
            </script>
          </div>

        </section>
      </div>
    </div>
  </section>
{% endblock %}
