{% extends "base.jinja2" %}
{% block title %}
Run: {{ parser.display_name }}
{% endblock %}
{% block content %}
    <h1>{{ parser.character }}</h1>
    {% if parser.won %}
    Victory
    {% else %}
    Killed by {{ parser.killed_by }}
    {% endif %}
    <br>
    Run duration: {{ parser.run_length }}
    <br>
    Played: {{ parser.timestamp }}
    <br>
    Seed: {{ parser.seed }}
    <br>
    Score: {{ parser.score }}
    <br>
    Neow Bonus: {{ parser.neow_bonus.as_str() }}
    <br>
    Hover over any map node or relic to see their stats!
    <br><br>
    {% for node in parser.path %}
    <img src="/static/icons/{{ node.map_icon }}" alt="{{ node.description() }}" title="{{ node.description() }}" style="width:48px;height:48px;">
    {% if node.end_of_act %}
    <br>
    {% endif %}
    {% endfor %}
    <br>
    {% for relic in parser.relics %}
    <img src="/static/relics/{{ relic }}.png" alt="" style="width:80px;height:80px;">
    {% endfor %}
    <br>
    {% if embed %}
    Tip: the graphs below can be interacted with, using the buttons in the bottom left!
    <br>
    <embed type="text/html" src="/runs/{{ parser.name }}/plot?view=max_hp,current_hp&title=Progression of HP during the run&label=HP&type=embed" title="Progression of HP during the run" width=670 height=500>
    <embed type="text/html" src="/runs/{{ parser.name }}/plot?view=gold&title=Progression of gold during the run&label=Gold&type=embed" title="Progression of gold during the run" width=670 height=500>
    <embed type="text/html" src="/runs/{{ parser.name }}/plot?view=card_count&title=Card count during the run&label=Cards&type=embed" title="Card count during the run" width=670 height=500>
    <embed type="text/html" src="/runs/{{ parser.name }}/plot?view=relic_count&title=Relic count during the run&label=Relics&type=embed" title="Relic count during the run" width=670 height=500>
    <embed type="text/html" src="/runs/{{ parser.name }}/stem?view=potion_count&title=Potion count during the run&label=Potions&type=embed" title="Potion count during the run" width=670 height=500>
    <embed type="text/html" src="/runs/{{ parser.name }}/bar?view=floor_time&title=Time spent on each floor&label=Time&type=embed" title="Time spent on each floor" width=670 height=500>
    {% else %}
    <img src="/runs/{{ parser.name }}/plot?view=max_hp,current_hp&title=Progression of HP during the run&label=HP&type=image" alt="Progression of HP during the run">
    <img src="/runs/{{ parser.name }}/plot?view=gold&title=Progression of gold during the run&label=Gold&type=image" alt="Progression of gold during the run">
    <img src="/runs/{{ parser.name }}/plot?view=card_count&title=Card count during the run&label=Cards&type=image" alt="Card count during the run">
    <img src="/runs/{{ parser.name }}/plot?view=relic_count&title=Relic count during the run&label=Relics&type=image" alt="Relic count during the run">
    <img src="/runs/{{ parser.name }}/stem?view=potion_count&title=Potion count during the run&label=Relics&type=image" alt="Potion count during the run">
    <img src="/runs/{{ parser.name }}/bar?view=floor_time&title=Time spent on each floor&label=Time spent per floor&type=image" alt="Time spent on each floor">
    {% endif %}
{% endblock %}
{% block footer %}
{% if embed %}
<a href="/runs/{{ parser.name }}?embed=false">Graphs not loading? Click here!</a>
<br>
{% endif %}
<a href="/runs">Back to all runs</a><br>
{% endblock %}