{% if extend_base %}
  {% extends "base.jinja2" %}
{% else %}
  {% extends "content.jinja2" %}
{% endif %}

{% block title %}
  {% if run.done or run.in_game %}
    {{ run.character }} {{ run.verb }} on seed {{ run.seed }}
  {% else %}
    No active run
  {% endif %}
{% endblock %}

{% block head %}
  <script src="/static/js/run.js"></script>
{% endblock %}

{% block content %}
  {% if run.done or run.in_game %}
    <script type="text/javascript">
     // TODO(olivia): We can probably grab more descriptive names for more
     // floors than just Neow and Mr. Heart! 😎
     const labels = [
       'Neow',
       {% for x in range(1, 55) %} 'Floor {{ x }}', {% endfor %}
       'Mr. Heart',
     ];

     const data = {
       labels: labels,
       datasets: [{
         label: 'HP',
         backgroundColor: '#ff6384',
         borderColor: '#ff6384',
         data: {{ run.current_hp_counts }},
         yAxisID: 'y',
       },{
         label: 'Max HP',
         backgroundColor: '#8463ff',
         borderColor: '#8463ff',
         borderWidth: 1,
         radius: 0,
         data: {{ run.max_hp_counts }},
         yAxisID: 'y',
       },{
         label: 'Gold',
         backgroundColor: '#ffd700',
         borderColor: '#ffd700',
         data: {{ run.gold_counts }},
         yAxisID: 'y1',
       }]
     };

     const config = {
       type: 'line',
       data: data,
       options: {
         responsive: true,
         interaction: {
           mode: 'index',
           intersect: false,
         },
         stacked: false,
         scales: {
           x: {
             grid: {
               color: "#222229",
             }
           },
           y: {
             min: 0,
             grid: {
               color: "#222229",
             }
           },
           y1: {
             type: 'linear',
             display: true,
             position: 'right',
             min: 0,
             grid: {
               color: "#222229",
               drawOnChartArea: false, // only want the grid lines for one axis to show up
             },
           },
         }
       }
     };
    </script>

    {% if run.done %}
      {# We only show this when looking at run histories #}
      <div class="columns">
        <div class="column is-three-quarters">
          <nav class="breadcrumb" aria-label="breadcrumbs">
            <ul>
              <li><a href="/runs">Run histories</a></li>
              <li><a href="/profile/{{ run.profile.index }}/runs">{{ run.profile.name }}</a></li>
              <li class="is-active selectable">
                <a href="#">
                  {{ run.character }} {{ run.verb }} on seed {{ run.seed }}
                </a>
              </li>
            </ul>
          </nav>
        </div>
        {% if linked_runs %}
          <div id="run-nav" class="box column">
            <div class="px-2">
              {% if linked_runs.prev %}
                <a id="hrefPrevRun" href="/runs/{{ linked_runs.prev.name }}">
                  Previous run
                </a>
              {% endif %}
              {% if linked_runs.next %}
                <a id="hrefNextRun" class="is-pulled-right" href="/runs/{{ linked_runs.next.name }}">
                  Next run
                </a>
              {% endif %}
            </div>
            <div class="px-2">
              {% if linked_runs.prev_char %}
                <a href="/runs/{{ linked_runs.prev_char.name }}">
                  Previous {{ run.character }} run
                </a>
              {% endif %}
              {% if linked_runs.next_char %}
                <a class="is-pulled-right" href="/runs/{{ linked_runs.next_char.name }}">
                  Next {{ run.character }} run
                </a>
              {% endif %}
            </div>
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% include "partials/run_header.jinja2" %}

    <section id="top-section" class="section">
      <div id="run-info" class="columns is-marginless">
        <div class="column message neow is-paddingless is-marginless box">
          <div class="message-header">
            <p id="neow-header">Neow bonus</p>
          </div>
          <div id="neow-body-original" class="message-body">
            <p>
              {% if run.neow_bonus.has_info %}
                {{ run.neow_bonus.as_str() }}
              {% else %}
                {{ run.neow_bonus.picked }}
              {% endif %}
            </p>
            {% if run.neow_bonus.has_data %}
              <div class="skipped">
                <p>And we skipped</p>
                <ul>
                  {% for skipped in run.neow_bonus.skipped %}
                    <li> {{ skipped }} </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if run.modifiers %}
              <div>
                <h3 class="subtitle">Modifiers</h3>
                <ul>
                  {% for modifier in run.modifiers_with_desc %}
                    <li>{{ modifier }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {% if run.score_breakdown %}
              <div class="score mt-4">
                <h3 class="subtitle mb-1">Score breakdown</h3>
                <ul>
                  {% for score in run.score_breakdown %}
                    <li>{{ score }}</li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
          </div>
          <div id="neow-body-new" class="message-body hidden">
            <p id="neow-body-content"></p>
          </div>
        </div>

        <div class="column is-one-fifth">
          <div class="keys">
            {# Since we want the keys to be rendered in a specific order, we
            can't just loop  #}
            {% for key, obtained, floor in run.keys.as_list() %}
              <img class="{{ key | lower }} {% if not obtained %} missing{% endif %}"
                src="/static/keys/{{ key | urlencode }}.png"
                onclick="neowText('{{ key }}',
                      {% if obtained %}
                      'Obtained on floor {{ floor }}<br>{{ run.get_floor(floor).escaped_description() }}'
                      {% else %}
                      'This key hasn\'t been obtained yet.'
                      {% endif %})">
            {% endfor %}
          </div>
          <div class="hint" onclick="neowReset()">
            <p>Hint: You can click on relics, floors, cards, and the keys.</p>
          </div>
        </div>

        <div class="column message relics-message is-paddingless is-marginless box">
          <div class="message-header">
            <p>Relics</p>
          </div>
          <div class="message-body relics">
            {% for relic in run.relics %}
              <div>
                <img src="https://raw.githubusercontent.com/OceanUwU/slaytabase/main/docs/{{ relic.mod.lower() | urlencode }}/relics/{{ relic.image | urlencode }}"
                  alt="{{ relic.description() }}"
                  title="{{ relic.description() }}"
                  onclick="neowText('{{ relic.name | replace("'", "\\'") }}', '{{relic.escaped_description() }}')" >
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>

    <section class="section">
      <div class="act act-1">
        {% for node in run.path %}
          <img src="/static/icons/{{ node.map_icon }}"
            title="Floor {{ node.floor }}"
            onclick="neowText('Floor {{ node.floor }}', '{{ node.escaped_description() }}')">
          {# This is unfortunate logic, but it does the thing. #}
          {% if node.end_of_act %}
      </div>
      {# This hilariously makes the acts to be "2.0", "3.0" and
      "4.0588235294117645", due to how Act 3 has extra rooms. It's used to add
      classes to the acts so we can add labels for mobile. Please scream at
      Olivia to fix this. #}
      <div class="act act-{{ ( loop.index/17|int ) + 1 }}">
          {% endif %}
        {% endfor %}
      </div>
    </section>

    <section class="section">
      <div class="cards">
        {% for card_data in run.master_deck_as_html() %}
          {{ card_data | safe }}
        {% endfor %}
      </div>
    </section>

    {% if run.has_removals %}
      <section class="section">
        <h4 class="title is-4">Cards Removed</h4>
        <div class="cards">
          {% for card_data in run.removals_as_html() %}
            {{ card_data | safe }}
          {% endfor %}
        </div>
      </section>
    {% endif %}

    <section class="section">
      <div class="charts">
        <canvas id="chart"></canvas>
        <script type="text/javascript">
         const myChart = new Chart(
           document.getElementById('chart'),
           config
         );
        </script>

        <p class="chart-disclaimer has-text-centered m-4 is-size-7">
          This graph is not excellent on mobile yet. View it on desktop for a
          better and more interactive experience.
        </p>
      </div>
    </section>
    {% else %}
    <section class="section mt-4 mb-4">
      <div class="columns is-centered has-text-centered mt-4">
        <div class="column mb-4">
          <h1 class="title">
            No run is currently going on!
          </h1>
          <p class="block">
            Stick around until Baalor starts one.
          </p>
          <p class="block">
            You may need to wait until after he picked a Neow bonus before the
            data gets here.
          </p>
        </div>
      </div>
    </section>
  {% endif %}
{% endblock %}

{% block footer %}
  <a href="/profile/{{ run.profile.index }}/runs">Back to all runs</a><br>
{% endblock %}
