{% extends "base.jinja2" %}
{% block title %}
Compare runs
{% endblock %}
{% block content %}
<form action="/compare/view" method="get">
Pick which character(s) to compare runs for:<br>
{% for char in characters %}
<input type="checkbox" id="char_{{ char }}" name="character" value="{{ char }}" checked>
<label for="char_{{ char }}">{{ char }}</label><br>
{% endfor %}
<br>Select relics that have to be in the run (Note: this is cumulative - the more you select, the smaller the data set)<br>
{% for name, internal in relics.items() %}
<input type="checkbox" id="relic_{{ internal }}" name="relic" value="{{ internal }}">
<label for="relic_{{ internal }}">{{ name }}</label>
{% endfor %}
<br><br>Select cards that have to be in the final deck.<br>
{% for name, internal in cards.items() %}
<input type="checkbox" id="card_{{ internal }}" name="card" value="{{ internal }}">
<label for="card_{{ internal }}">{{ name }}</label>
{% endfor %}
<br><input type="submit" value="Compare!">
</form>
{% endblock %}
{% block footer %}
<a href="/compare">Pick other settings to compare</a><br>
{% endblock %}