{% extends "base.jinja2" %}
{% block title %}
  Runs for {{ profile.name }}
{% endblock %}
{% block content %}
  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="/runs">Run histories</a></li>
      <li class="is-active"><a href="/profile/{{ profile.index }}/runs">{{ profile.name }}</a></li>
    </ul>
  </nav>
  <div id="run-list" class="container">
    {% for run in profile.runs %}
      <a href="/runs/{{ run.name }}"
        class="{{ run.character | lower }} {{ run.verb }} run">
        {% include "partials/run_header.jinja2" %}
      </a>
    {% endfor %}
  </div>
  
{% endblock %}
