{% extends "base.jinja2" %}
<!-- Refresh the page every 15 seconds; savefile gets regularly updated.
     Actual code will properly cache the savefile and serve latest -->
{% block head %}<meta http-equiv="refresh" content="{% if redirect and parser.in_game %}0;url=/current{% else %}15{% endif %}">{% endblock %}
{% block title %}
{{ parser.display_name }}
{% endblock %}
{% block content %}
{% if parser.in_game %}
    <h1>{{ parser.character }}</h1>
    <img src="/current/plot?view=max_hp,current_hp&title=Progression+of+HP+so+far&label=HP&type=image{% if force %}&force=true{% endif %}" style="float:right" alt="Progression of HP so far">
    <img src="/current/plot?view=gold&title=Progression+of+gold+so+far&type=image{% if force %}&force=true{% endif %}" style="float:right;clear:right" alt="Progression of gold so far">
    {% if parser.character not in ("Ironclad", "Silent", "Defect", "Watcher") %}
    <b>This is a modded character. Not all data will be accurate.</b><br>
    {% endif %}
    Seed: {{ parser.seed }}
    <br>
    Upcoming act boss: {{ parser.upcoming_boss }}
    <br>
    Current health: <span style="color:#AF0000;display:inline-block">{{ parser.current_health }}/{{ parser.max_health }}</span>
    <br>
    Current gold: <span style="color:#CECE1E;display:inline-block">{{ parser.current_gold }}</span>
    <br>
    Current floor: {{ parser.current_floor }}
    <br>
    Current removal cost: <span style="color:#CECE1E;display:inline-block">{{ parser.current_purge }}</span> ({{ parser.purge_totals }} cards removed)
    <br>
    Potion drop chance: {{ parser.potion_chance }}%
    <br>
    Neow Bonus: {{ parser.neow_bonus.as_str() }}
    <br><br>
    Hover over any map node or relic to see their stats!
    <br><br>
    {% for node in parser.path %}
    <img src="/static/icons/{{ node.map_icon }}" alt="{{ node.description() }}" title="{{ node.description() }}" style="width:48px;height:48px;">
    {% if node.end_of_act %}
    <br>
    {% endif %}
    {% endfor %}
    <br>
    {% for relic in parser.relics %}
    <img src="/static/relics/{{ relic.image | urlencode }}" alt="{{ relic.description() }}" title="{{ relic.description() }}" style="width:80px;height:80px;">
    {% endfor %}
    <br>
    {% for key, floor in parser.keys %}
    <img src="/static/relics/{{ key | urlencode }}.png" alt="Gotten on floor {{ floor }}" title="Gotten on floor {{ floor }}" style="width:80px;height:80px">
    {% endfor %}
    <br>
    {% for card_data in parser.cards_as_html() %}
    {{ card_data | safe }}
    {% endfor %}
    <br>
{% else %}
<p>No run is currently going on! Stick around until Baalor starts a run. You may need to wait until after he picked a Neow bonus to see anything.</p>
{% endif %}
{% endblock %}
