{% extends "base.jinja2" %}

{% block title %}
  A tale of a man who goes streaking
{% endblock %}

{% block content %}
  <div class="columns is-centered">
    <section class="section column is-half is-centered mt-4">
      <h1 class="title has-text-centered">
        The Grandmastery Challenge
      </h1>

      <p class="mb-4">
        This page shows the character streaks we've been able to reach during the Grandmastery
        Challenge.  Our goal is to reach 20 on all characters!

      </p>

      <p class="mb-4">
        A streak group is shown after three consecutive wins.
      </p>

      <p>
        The blobs of completed runs are clickable links.  For demonstrative purposes, the run that
        breaks a streak is included within said streak but marked as a loss.
      </p>
      <hr/>
    </section>
  </div>

  {% for streak in streaks %}
    {% if streak.winning_streak %}
      <div class="columns is-centered">
        <section class="section is-centered mt-4 mb-4">
          <div class="container">
            <div class="box run-header streak is-paddingless">
              <div class="avatar">

                <img class="{{ streak.character | lower }}"
                  src="/static/characters/{{ streak.character | lower }}-face.png"/>
              </div>

              <div class="wide p-4">
                <div class="top">
                  <div class="title">
                    {{ streak.character }} streak of <b>{{ streak.streak }}</b>
                  </div>
                  <div class="dates">
                    {{ streak.start }} -
                    {% if streak.ongoing %}
                      <span>ongoing</span>
                    {% else %}
                      {{ streak.end }}
                    {% endif %}
                  </div>
                </div>

                <div class="score-grid">
                  {% for x in range(streak.target) %}
                    {% if x < streak.length %}
                      {% with run=streak.get_run(x) %}
                        {% if run.done %}
                          <a class="blob {{ run.verb }}" href="/runs/{{ run.name }}">
                            <div class="text">
                              <div class="count">{{ x+1 }}</div>
                              <div class="verb">
                                {% if run.won %}
                                  win
                                {% else %}
                                  loss
                                {% endif %}
                              </div>
                            </div>
                          </a>
                        {% else %}
                          <a class="blob live" href="/current">
                            <div class="text">
                              <div class="count">{{ x+1 }}</div>
                              <div class="verb">live!</div>
                            </div>
                          </a>
                        {% endif %}
                      {% endwith %}
                    {% else %}
                      <div class="blob unplayed">
                        <div class="text">
                          <div class="count">{{ x+1 }}</div>
                          <div class="verb">n/a</div>
                        </div>
                      </div>
                    {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    {% else %}
      <div class="columns is-centered">
        <section class="section column is-8 is-centered">
          {% if streak.ongoing %}
            <div class="ongoing">
              <h2 class="subtitle">
                Currently not on a streak.  It's about to happen, Twitch chat!
                <img alt="pog" src="/static/misc/pogchamp.png"/>
              </h2>
              {% if streak.runs | length > 2 %}
                <p class="losing">
                  (We've had <a href="/profile/0/runs">{{ streak.runs | length }} runs</a> that didn't streak, but let's not
                  focus on that.)
                </p>
              {% endif %}
            </div>
          {% else %}
            <div class="losing">
              «
              <a href="{{ streak.runs_url }}?back=/streaking">
                {{ streak.runs | length }} run{% if streak.runs | length > 1 %}s{% endif %}
              </a>
              that never streaked »
            </div>
          {% endif %}
        </section>
      </div>
    {% endif %}
  {% endfor %}
  <hr/>
{% endblock %}
